@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Purple Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f0ff;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #7c3aed,
    #9333ea
  );
  border-radius: 999px;
  border: 2px solid #f3f0ff;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #6d28d9,
    #7e22ce
  );
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7c3aed #f3f0ff;
}